{% block sidebar %}
{% load social_share %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Sidebar Widgets Column -->

<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header text-center">About Us</h5>
		<div class="card-body">
			<div>
				<span class="fa-stack fa-lg">
					<a href="https://fb.me/coin09o">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x"></i>
					</a>
				</span>
				<span class="fa-stack fa-lg">
					<a href="#">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-instagram fa-stack-1x"></i>
					</a>
				</span>
				<span class="fa-stack fa-lg">
					<a href="https://wa.me/08133643937">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-whatsapp fa-stack-1x"></i>
					</a>
				</span>
				<span class="fa-stack fa-lg">
					<a href="#">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-youtube fa-stack-1x"></i>
					</a>
				</span>
				<span class="fa-stack fa-lg">
					<a href="https://linkedin.com/in/akanmu-akinkunmi-joseph-2949a5168">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-linkedin fa-stack-1x"></i>
					</a>
				</span>	
			</div>
		</div>
	</div>
	<!--Subscribe to my channel-->
	<div class="card my-4">
		<h5 class="card-header text-center">Subscribe Us</h5>
		<div class="card-body">
			<div class="widget HTML" data-version="2">
				<div class="widget-content">
					<div class="videoWrapper">
						<iframe width="565" height="354" src="https://www.youtube.com/embed/" frameborder="0" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<!--ads-->
	<div class="card my-4">
		<h5 class="card-header text-center">Ad Space</h5>
		<div class="card-body">
			<div class="widget HTML" data-version="2" id="HTML16">
				<div class="widget-content">
					<a class="sora-ads-side" href="javascript:;">Responsive Advertisement</a>
				</div>
			</div>
		</div>
    </div>
    <div class="card my-4">
		<h5 class="card-header text-center">Ad Space</h5>
		<div class="card-body">
			<div class="widget HTML" data-version="2" id="HTML16">
				<div class="widget-content">
					<a class="sora-ads-side" href="javascript:;">Responsive Advertisement</a>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock sidebar %}

